<div class="container-fluid" >
  <div class="col col-12" >
    <h1>Listagem de Pessoas</h1>
  </div>

  <div class="col col-12" >
    <form [formGroup]="pessoaForm" >
      <div class="form-row">
        <div class="col-8">
          <input type="text" class="form-control" placeholder="Nome" formControlName="nome" >
        </div>
        <div class="col-2">
          <input type="text" class="form-control" placeholder="CPF" formControlName="cpf" >
        </div>
        <div class="col-2">
          <div class="btn-group" role="group">
              <button type="button" class="btn" (click)="pesquisar()" >Pesquisar</button>
              <button type="button" class="btn btn-secondary">Cadastrar</button>
            </div>
        </div>
      </div>
    </form>
  </div>
  {{page?.totalElements}}
  <div class="col col-12" *ngIf="page.totalElements > 0" >
    <table id="pessoas" class="table table-striped table-bordered" style="width:100%" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Idade</th>
          <th>Quantidade de Telefones</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of page.content" >
          <td>{{ p.id }}</td>
          <td>{{ p.nome }}</td>
          <td>{{ p.email }}</td>
          <td>{{ p.cpf }}</td>
          <td>{{ p.idade }}</td>
          <td>{{ p.qtdTels }}</td>
          <td>Editar | Remover</td>
        </tr>
      </tbody>
      <ngb-pagination *ngIf="page.totalPages > 0"
        [collectionSize]="page.totalElements"
        [(page)]="currentPage"
        [pageSize]="20"
        [boundaryLinks]="true"
        (pageChange)="pesquisar()">
      </ngb-pagination>
    </table>
  </div>

</div>
