<div class="container-fluid" align="center" >
    <div class="row-fluid" >
      <div class="col-8" >
        <div class="jumbotron jumbotron-fluid">
          <div class="container" >
            <h1 class="display-4">404</h1>
            <p class="lead">Página não encontrada.</p>
            <hr class="my-4">

            <p class="lead">
              <a class="btn btn-primary btn-lg" routerLink="/home" role="button">Clique aqui</a> para ser voltar ao início.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
