<div class="row-fluid" *ngIf="!isNew && !referentiel">
  <div class="col col-12" >
    <h1>{{pageTitle}}</h1>
    <hr>
  </div>

  <div class="col col-12" >
    <form [formGroup]="pessoaCadForm" >
      <div class="row" >
        <div class="col col-md-6 col-sm-12" >
          <oak-input errorMessage="Campo obrigatório." label="Nome">
            <input type="text" class="form-control" placeholder="Nome"
              formControlName="nome"
              [class.is-valid]="pessoaCadForm.get('nome').valid && (pessoaCadForm.get('nome').dirty || pessoaCadForm.get('nome').touched)"
              [class.is-invalid]="!pessoaCadForm.get('nome').valid && (pessoaCadForm.get('nome').dirty || pessoaCadForm.get('nome').touched)" >
          </oak-input>
        </div>
      </div>
      <div class="row" >
        <div class="col col-md-6 col-sm-12" >
          <oak-input errorMessage="Campo obrigatório. Digite somente números e no máximo de 11." label="CPF">
            <input type="text" class="form-control" placeholder="CPF"
              formControlName="cpf"
              [class.is-valid]="pessoaCadForm.get('cpf').valid && (pessoaCadForm.get('cpf').dirty || pessoaCadForm.get('cpf').touched)"
              [class.is-invalid]="!pessoaCadForm.get('cpf').valid && (pessoaCadForm.get('cpf').dirty || pessoaCadForm.get('cpf').touched)" >
          </oak-input>
        </div>
      </div>
      <div class="row" >
        <div class="col col-md-6 col-sm-12" >
          <oak-input  errorMessage="E-mail inválido." label="E-mail">
            <input type="text" class="form-control" placeholder="E-mail"
              formControlName="email"
              [class.is-valid]="pessoaCadForm.get('email').valid && (pessoaCadForm.get('email').dirty || pessoaCadForm.get('email').touched)"
              [class.is-invalid]="!pessoaCadForm.get('email').valid && (pessoaCadForm.get('email').dirty || pessoaCadForm.get('email').touched)" >
          </oak-input>
        </div>
      </div>
      <div class="row" >
        <div class="col col-md-2 col-sm-12">
          <div class="input-group">
            <ngb-datepicker formControlName="dataNascimento" [minDate]="minDate" [maxDate]="maxDate" (navigate)="date = $event.next"></ngb-datepicker>
          </div>
        </div>
      </div>

    </form>
  </div>


  <!--Telefone-->
  <div class="row" >
    <div class="col col-12" >
      <br/>
      <h4>Telefones</h4>
      <hr>
    </div>
  </div>
  <div class="col col-12" >
    <form [formGroup]="telefonesForm" >
      <div class="row" >
        <div class="col col-md-4 col-sm-12" >
          <oak-input  errorMessage="Digite dois caracteres numéricos." label="DDD">
            <input type="text" class="form-control" placeholder="DDD"
              formControlName="ddd"
              [class.is-valid]="telefonesForm.get('ddd').valid && (telefonesForm.get('ddd').dirty || telefonesForm.get('ddd').touched)"
              [class.is-invalid]="!telefonesForm.get('ddd').valid && (telefonesForm.get('ddd').dirty || telefonesForm.get('ddd').touched)" >
          </oak-input>
        </div>
        <div class="col col-md-4 col-sm-12" >
          <oak-input  errorMessage="Digite entre 8 e 9 caracteres numéricos." label="Telefone">
            <input type="text" class="form-control" placeholder="Telefone"
              formControlName="numero"
              [class.is-valid]="telefonesForm.get('numero').valid && (telefonesForm.get('numero').dirty || telefonesForm.get('numero').touched)"
              [class.is-invalid]="!telefonesForm.get('numero').valid && (telefonesForm.get('numero').dirty || telefonesForm.get('numero').touched)" >
          </oak-input>
        </div>
        <div class="col col-md-4 col-sm-12" >
            <button type="button" class="btn" (click)="adicionarTelefone()" [disabled]="!telefonesForm.valid"  >
                <i class="fa fa-plus" aria-hidden="true"></i> Adicionar
            </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col col-12" *ngIf="pessoaSelecionada?.telefones?.length > 0" >
    <table id="pessoas" class="table table-striped table-bordered" style="width:100%" >
      <thead>
        <tr>
          <th>DDD</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of pessoaSelecionada?.telefones" >
          <td>{{ t.ddd }}</td>
          <td>{{ t.numero }}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-danger" (click)="removerTelefone()" >
                  <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>




    <!-- submeter cadastro -->
  <div class="col col-12" >
    <div class="row" >
      <div class="col" >
        <div class="btn-group" role="group">
          <button type="button" class="btn" (click)="isEdit ? atualizar() : salvar()" [disabled]="!pessoaCadForm.valid" [title]="!pessoaCadForm.valid ? 'Preencha os campos obrigatórios' : 'Salvar'" >Salvar</button>
          <button type="button" class="btn btn-secondary" (click)="limparForms();" >Limpar</button>
          <button type="button" class="btn btn-secondary" routerLink="/pessoa" >Voltar</button>
        </div>
      </div>
    </div>
  </div>
</div>
