<div class="container-fluid" align="center" >
  <div class="row-fluid" >
    <div class="col-8 col-sm-12" >
      <div class="jumbotron jumbotron-fluid">
        <div class="container" >
          <h1 class="display-4">Seja bem vindo!</h1>
          <p class="lead">Esta é uma aplicação simples, desenvolvida utilizando Angular e Bootstrap NG.</p>
          <hr class="my-4">
          <p>O objetivo é o cadastro de Pessoas e seus Telefones, bem como a pesquisa, edição e remoção.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" [routerLink]="['/pessoa', {'searchAll': true}]" role="button">Clique aqui</a> para ser visualizar.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
